ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #1900ff;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: rgb(236, 156, 156);
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0a015f;
  }
  
  .activo {
    background-color: #2226fc;
  }
  
  .derecha {
    float: right;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #0400ff;
    border-radius: 0.5rem;
    text-align: center;
    color: aliceblue;
  }

  .fondo {
    background-color: rgb(176, 181, 252);
  }